:root, :root[data-theme='dark']{
    --cor-fundo:#1C1C1C;
    --cor-fundo2:#242424;
    --cor-fundo3:#151515;

    --cor-degrade1:#0026FF;
    --cor-degrade2:#00C8FF;

    --cor-padrao:#0178FF;
    --cor-texto-padrao:#fff;
    
    --cor-texto:#fff;
}

*{
    margin: 0;
    padding: 0;
    user-select: none;
}

body{
    background-color: var(--cor-fundo);
}

.title{
    font: bold 2vw Arial;
    color: var(--cor-padrao);
}

.t2{
    font: bolder 1.7vw Arial;
    color: var( --cor-texto);
}

.paragraph{
    font: normal 0.8vw Arial;
    color:var(--cor-texto);
}

.paragraph_bold{
    font: bold 0.8vw Arial;
    color:var(--cor-texto);
}

.paragraph_italic{
    font: italic 0.76vw Arial;
    color:var(--cor-texto);
}