/*Menu*/
header{
    position:absolute;
    width:100%;
    display:flex;
    align-items:center;
    justify-content: space-between;
    height:7vw;
}
header .logo{
    width:2vw;
    padding-left:5vw;
}
header nav{
    display:flex;
    gap:3vw;
    padding-right:5vw;
}
header nav a{
    text-decoration: none;
    color:#fff;
    font-family:arial;
    font-size:1vw;
}

/*Botão para subir*/
#upbtn{
    transition: 0.5s;
    position: fixed;
    margin: 41vw 90vw;
    width: 5vw;
    height: 3.8vw;
    background-color: var(--cor-padrao);
    border-radius: 0.8vw;
    box-shadow: 0vw 0.7vw 1vw var(--cor-fundo3);
    cursor: pointer;
    transition: 0.5s;
}
#upbtn:hover{
    transition: 1s;
    margin:40vw 90vw;
}

/*Layout*/

/*Serviços*/


/*Projetos*/

/*Divulgacao*/

/*Funcionalidade*/

/*Planos*/

/*Perguntas*/
#perguntas{
    padding:5vw 20vw 0vw 20vw;
    display:flex;
    flex-direction: column;
    gap:1.2vw;
}

#perguntas .title{
    padding-bottom:1vw;
}

.perguntas_card{
    display:flex;
    flex-direction: column;
    border-radius:0.5vw;
    width:100%;
    overflow: hidden;
}

.perguntas_card .card_fechado{
    position: relative;
    z-index:1;
    background-color: var(--cor-fundo2);
    height:3vw;
    
    display:flex;
    align-items:center;
}
.perguntas_card .card_fechado::before{
    content:"";
    width:0.5vw;
    height:100%;
    background-color:var(--cor-padrao);
    
}
.perguntas_card .card_fechado span{
    font-size:1vw;
    color:var(--cor-texto);
    font-family: arial;
    font-weight:700;
    padding-left:2vw;
    width:85%;
}

.perguntas_card .card_aberto{
    position: relative;
    z-index:0;
    display:flex;
    background-color: var(--cor-fundo3);
    height:8vw;
    align-items:center;
    transition: 0.5s;
}
.perguntas_card .card_aberto::before{
    content:"";
    width:0.5vw;
    height:100%;
    background-color:var(--cor-padrao);
    
}
.perguntas_card .card_aberto p{
    padding-left:2vw;
    width:85%;
}

.perguntas_card .card_seta{
    color:var(--cor-padrao);
    font-size:1.2vw;
    padding-left:3vw;
    cursor:pointer;
}

.aberto{
    margin-top:0vw;
}

.fechado{
    margin-top:-8vw;
}
/*Footer*/