/*Menu*/
header{
    position:absolute;
    width:100%;
    display:flex;
    align-items:center;
    justify-content: space-between;
    height:7vw;
}
header .logo{
    width:2vw;
    padding-left:5vw;
}
header nav{
    display:flex;
    gap:3vw;
    padding-right:5vw;
}
header nav a{
    text-decoration: none;
    color:#fff;
    font-family:arial;
    font-size:1vw;
}

/*Botão para subir*/
#upbtn{
    z-index: 1;
    transition: 0.5s;
    position: fixed;
    margin: 41vw 90vw;
    width: 5vw;
    height: 3.8vw;
    background-color: var(--cor-padrao);
    border-radius: 0.8vw;
    box-shadow: 0vw 0.7vw 1vw var(--cor-fundo3);
    cursor: pointer;
    transition: 0.5s;
}
#upbtn:hover{
    transition: 1s;
    margin:40vw 90vw;
}

/*Layout*/
#layout{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
#layout hr{
    width:35vw;
    height: 0.6vw;
    margin-left:auto;
    border:none;
    background-image: linear-gradient(-90deg, var(--cor-degrade1), var(--cor-degrade2));
    margin-top:-0.3vw;
}
.layout_video{
    width:100%;
    object-fit: cover;
    height:35vw;
}
.layout_container{
    width:30vw;
    position:absolute;
    display:flex;
    flex-direction: column;
    padding-left:10vw;
    padding-top:2vw;
    gap:1.5vw;
}
.layout_container h1{
    color:var(--cor-texto-padrao);
    font-family:arial;
    font-weight: 600;
    font-size:2.2vw;
    line-height: 2.8vw;
}
.layout_container p{
    width:85%;
}
.layout_container h1 span{
    background-image: linear-gradient(-90deg, var(--cor-padrao) 40%, var(--cor-degrade2));
    background-clip: text; /* clipar a cor de fundo no texto */
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-weight: 900;
    font-size:3.2vw;
}
.layout_container button{
    width:42%;
    padding:0.6vw 0vw;
    border-radius:0.3vw;
    border:none;
    background-color: var(--cor-padrao);
    color:var(--cor-texto-padrao);
    font-family:arial;
    font-weight: bold;
    font-size:0.8vw;
}


/*Serviços*/
#servicos{
    display: flex;
    height: 43vw;
    text-align: center;
    justify-content: center;
}

.container_servicos_cards{
    width: 90vw;
    height: 30vw;
    margin-top: 13vw;
    display: flex;
    flex-wrap: wrap;
    padding-left: 4.5vw;
}

.card{
    padding: 0 2vw 0 2vw;
    display: flex;
    height: 13vw;
    width: 24vw;
}

#textos{
    position: absolute;
    margin-top: 4vw;
    width: 35vw;
    height: 7vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container_icons{
    position: absolute;
    width: 4vw;
    height: 3vw;
    display: flex;
}

.icones_descr{
    z-index: 2;
    margin-left: 0.9vw;
    display: flex;
    position: absolute;
    width: 2.65vw;
}

.ondas{
    margin-top: 1vw;
    display: flex;
    position: absolute;
    width: 4.5vw;
    z-index: 1;
}

.container_card{
    position: absolute;
    margin: 2vw 0 0 1vw;
    width: 18vw;
    height: 6.5vw;
    border-radius: 0.9vw;
    background-color: var(--cor-fundo2);
    padding: 1.5vw 2vw 2.5vw 2vw;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0vw 0.8vw 1vw var(--cor-fundo3);
}

/*Projetos*/
#projetos{
    background-image: url(../img/efeitos/ondaFundoProjetos.png);
    background-repeat: no-repeat;
    background-size:100%;
    background-position-y:10vw;
    padding-top:5vw;
    display:flex;
    flex-direction: column;
    align-items:center;
    gap:1vw;
    height:40vw;
}
.projetos_container{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:0.5vw;
    width:30vw;
    text-align: center;
}

#projetos .swiper {
    width: 80vw;
    height: 20vw;
}
#projetos .swiper-slide{
    display:flex;
    align-items:center;
    justify-content: center;
    gap:3vw;
}
#projetos .swiper-button-prev, #projetos .swiper-button-next{
    color:var(--cor-texto);
}
#projetos .swiper-button-prev::after{
    font-size:2vw;
    font-weight:900;
}
#projetos .swiper-button-next::after{
    font-size:2vw;
    font-weight:900;
}

.projetos_card{
    width:20vw;
    height:13vw;
    background-color:#000;
    border-radius:1vw;
    cursor: pointer;
}
.projetos_card_container{
    display:flex;
    flex-direction: column;
    gap:0.5vw;
    background-image:url(../img/efeitos/ondaProjetos.png);
    background-repeat: no-repeat;
    background-size:contain;
    width:80%;
    height:7vw;
    margin-top:6vw;
    padding-left:1.5vw;
}
.projetos_card_container h3{
    font-family:arial;
    font-weight: 800;
    color:var(--cor-texto-padrao);
    font-size:1.5vw;
    padding-top:0.5vw;
}

/*Divulgacao*/
#divulgacao{
    padding-top:5vw;
    display:flex;
    flex-direction: column;
    align-items:center;
}

.divulgacao_container{
    margin-top: 30vw;
    position: absolute;
    width:50vw;
    display:flex;
    flex-direction: column;
    align-items:center;
    gap:2vw;
    text-align:center;
    box-shadow:0.1vw 0.1vw 1.3vw 0.2vw #000;
    border-radius:1vw;
    padding:3.5vw 0vw;
}
.divulgacao_conteudo{
    position: relative;
    z-index:1;
    display:flex;
    flex-direction: column;
    align-items:center;
    gap:2vw;
}
.divulgacao_container .divulgacao_conteudo p{
    width:20vw;
}
.divulgacao_container .divulgacao_conteudo button{
    width:15vw;
    padding:0.8vw 0vw;
    border-radius:0.3vw;
    border:none;
    background-color: var(--cor-padrao);
    color:var(--cor-texto-padrao);
    font-family:arial;
    font-weight: bold;
    font-size:0.8vw;
    cursor:pointer;
}

.divulgacao_container .elemento_Fundo1{
    overflow: hidden;
    position: absolute;
    margin-top:-3.5vw;
    margin-right:40vw;
    width:10vw;
    height:17.7vw;
    border-radius:1vw;
}
.divulgacao_container .elemento_Fundo1 img{
    position: relative;
    right:8vw;
    bottom:2vw;
    width:18vw;
}

.divulgacao_container .elemento_Fundo2{
    overflow: hidden;
    position: absolute;
    width:25vw;
    height:14.2vw;
    margin-left:25vw;
    border-radius:1vw;
}
.divulgacao_container .elemento_Fundo2 img{
    position: relative;
    left:1vw;
    bottom:2vw;
    width:35vw;
}


/*Funcionalidade*/

/*Planos*/

/*Perguntas*/

/*Footer*/
