/*Menu*/
header{
    position:absolute;
    width:100%;
    display:flex;
    align-items:center;
    justify-content: space-between;
    height:7vw;
}
header .logo{
    width:2vw;
    padding-left:5vw;
}
header nav{
    display:flex;
    gap:3vw;
    padding-right:5vw;
}
header nav a{
    text-decoration: none;
    color:#fff;
    font-family:arial;
    font-size:1vw;
}

/*Botão para subir*/
#upbtn{
    transition: 0.5s;
    position: fixed;
    margin: 41vw 90vw;
    width: 5vw;
    height: 3.8vw;
    background-color: var(--cor-padrao);
    border-radius: 0.8vw;
    box-shadow: 0vw 0.7vw 1vw var(--cor-fundo3);
    cursor: pointer;
    transition: 0.5s;
}
#upbtn:hover{
    transition: 1s;
    margin:40vw 90vw;
}

/*Layout*/

/*Serviços*/
#servicos{
    display: flex;
    height: 49vw;
    text-align: center;
    justify-content: center;
}

.container_servicos_cards{
    width: 90vw;
    height: 30vw;
    margin-top: 15vw;
    display: flex;
    flex-wrap: wrap;
    padding-left: 4.5vw;
}

.card{
    padding: 0 2vw 0 2vw;
    display: flex;
    height: 13vw;
    width: 24vw;
}

#textos{
    position: absolute;
    margin-top: 6vw;
    width: 35vw;
    height: 7vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container_icons{
    position: absolute;
    width: 4vw;
    height: 3vw;
    display: flex;
}

.icones_descr{
    z-index: 2;
    margin-left: 0.9vw;
    display: flex;
    position: absolute;
    width: 2.65vw;
}

.ondas{
    margin-top: 1vw;
    display: flex;
    position: absolute;
    width: 4.5vw;
    z-index: 1;
}

.container_card{
    position: absolute;
    margin: 2vw 0 0 1vw;
    width: 18vw;
    height: 6.5vw;
    border-radius: 0.9vw;
    background-color: var(--cor-fundo2);
    padding: 1.5vw 2vw 2.5vw 2vw;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0vw 0.8vw 1vw var(--cor-fundo3);
}

.container_texto{

}

/*Projetos*/

/*Divulgacao*/

/*Funcionalidade*/

/*Planos*/

/*Perguntas*/

/*Footer*/