@media(max-width:900px){
    /*Menu*/
    header{
        height:18vw;
    }
    header .logo{
        width:7vw;
    }
    header nav{
        display:none;
    }

    #navMobile{
        display:flex;
        flex-direction: column;
        gap:12vw;
        padding:5vw 0vw 0vw 5vw;
        position:fixed;
        left:-60vw;
        z-index:999;
        height:100%;
        width:45%;
        background-image:linear-gradient(var(--cor-degrade3)10%, var(--cor-fundo3));
        transition:0.5s;
        box-shadow:2px 0px 8px;
    }
    #navMobile img{
        width:10vw;
        margin-bottom:2vw;
    }
    #navMobile a{
        font-family:arial;
        font-size:4vw;
        color:var(--cor-texto-padrao);
        font-weight: 700;
        text-decoration: none;
        width:90%;
    }
    #navMobile a:hover{
        scale:1.05;
    }
    #navMobile a::after{
        display:block;
        content:'';
        margin-top:1.5vw;
        width:40vw;
        height:0.1vw;
        background-color:var(--cor-padrao);
        opacity:0.2;
    }
    #btn_navMobile{
        position: absolute;
        z-index:999;
        right:0;
        display:flex;
        padding-right:5vw;
        font-size:8vw;
        color:var(--cor-padrao);
        cursor:pointer;
    }

    /*Botão para subir*/
    #upbtn{
        margin:5vw;
        width: 10vw;
        height: 10vw;
        border-radius: 5vw;
    }
    #upbtn i{
        font-size:5vw;
    }

    /*Layout*/
    #layout{
        align-items:center;
    }
    #layout hr{
        width:55vw;
        height: 2vw;
        margin-top:-1vw;
    }
    .layout_video{
        height:120vw;
    }
    .layout_container{
        display:none;
    }
    .layout_mobile{
        width:100%;
        position:absolute;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:1vw;
    }
    .layout_mobile img{
        width:25vw;
    }
    .layout_mobile h1{
        color:var(--cor-texto-padrao);
        font-size:8vw;
        font-family:arial;
        font-weight: 800;
        text-transform: uppercase;
        padding-top:3vw;
    }

    /*Serviços*/
    #servicos{
        margin-top:8vw;
        height: 240vw;
    }

    #textos{
        position: absolute;
        margin-top: 4vw;
        width: 80vw;
        height: 35vw;
    }

    .container_servicos_cards{
        width: 100%;
        height: 40vw;
        margin-top: 50vw;
        display: flex;
        column-gap: 10vw;
        row-gap:8vw;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 0vw;
    }

    .card{
        padding:0vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 55vw;
        width: 38vw;
    }

    .container_icons{
        position: relative;
        width: 50%;
    }

    .icones_descr{
        margin-left: 5vw;
        display: flex;
        position: absolute;
        width: 10vw;
    }

    .ondas{
        margin-top: 2.5vw;
        display: flex;
        position: absolute;
        width: 20vw;
    }

    .container_card{
        position: relative;
        margin: 7vw 0vw 0vw 0vw;
        width: 100%;
        height: 100%;
        border-radius: 2vw;
        padding: 10vw 3vw 3vw 3vw;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .container_card .paragraph{
        font-size:3.2vw;
    }

    /*Projetos*/
    #projetos{
        background-size:200%;
        background-position-x: center;
        background-position-y:80vw;
        padding-top:5vw;
        display:flex;
        flex-direction: column;
        align-items:center;
        gap:1vw;
        padding-bottom:8vw;
    }
    .projetos_container{
        gap:2.5vw;
        width:80vw;
    }

    #projetos .swiper {
        width: 98vw;
        height: 150vw;
    }
    #projetos .swiper-slide{
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        gap:5vw;
    }
    #projetos .swiper-button-prev::after, #projetos .swiper-button-next::after{
        font-size:8vw;
        font-weight:900;
    }

    .projetos_card{
        width:60vw;
        height:40vw;
        border-radius:3vw;
    }
    .projetos_card_container{
        overflow: hidden;
        display:flex;
        flex-direction: column;
        gap:1.5vw;
        width:90%;
        height:25vw;
        margin-top:15vw;
        padding-left:2vw;
    }
    .projetos_card_container h3{
        font-size:5vw;
    }
    .projetos_card_container .paragraph{
        font-size:3vw;
    }

    /*Divulgacao*/
    .divulgacao_container{
        margin-top:8vw;
        width:100%;
        gap:10vw;
        border-radius:1vw;
        padding:10vw 0vw;
    }
    .divulgacao_conteudo{
        gap:6vw;
    }
    .divulgacao_container .divulgacao_conteudo p{
        width:80vw;
    }
    .divulgacao_container .divulgacao_conteudo button{
        width:100%;
        padding:2vw 0vw;
        border-radius:1vw;
        font-size:4vw;
    }
    .divulgacao_container .divulgacao_conteudo a{
        width:50vw;
    }

    .divulgacao_container .elemento_Fundo1{
        margin-top:-10vw;
        margin-right:0vw;
        width:40vw;
        height:50vw;
        border-radius:0vw;
        left:0;
    }
    .divulgacao_container .elemento_Fundo1 img{
        right:40vw;
        bottom:55vw;
        width:70vw;
    }

    .divulgacao_container .elemento_Fundo2{
        width:45vw;
        height:61vw;
        margin-left:0vw;
        border-radius:0vw;
        right:0;
    }
    .divulgacao_container .elemento_Fundo2 img{
        bottom:-1vw;
        width:100vw;
    }

    /*Funcionalidade*/
    #funcionalidade{
        margin-top:8vw;
        height: auto;
        padding-bottom:20vw;
    }
    
    #container_img{
        height: 80vw;
        overflow: hidden;
    }

    #img_corp{
        width: auto;
        height:100%;
    }
    
    #degrade{
        height: 80vw;
        background-image: linear-gradient(to top, var(--cor-fundo), #1e1e1ef5 50%, #1e1e1e00);
    }
    
    #text_funcionalidade{
        width: 75%;
        height: 50vw;
        margin: 15vw 0 0 8vw;   
    }
    #text_funcionalidade ul li{
        list-style: none;
    }
    #text_funcionalidade li:before {
        width:1.5vw;
        height:1.5vw;
        margin-top:1vw;
      }
    
    #list_funcionalidades{
        margin-left: 5vw;
    }
    #list_funcionalidades li{
        margin-top: 2vw;
    }
    
    #ranking{
        padding-top: 45vw;
        margin: 0 auto;
        width:90vw;
        height: auto;
        align-items:center;
    }
    
    .dados{
        padding-top:45vw;
        width: 40vw;
        height: auto;
        gap:1.5vw;
    }
    .dadosCentro{
        padding-top:0vw;
        width: 60vw;
        position: absolute;
        margin-bottom:80vw;
        margin-left:15vw;
    }
    
    .title_dados2{
        margin-top: 0vw;
        font: bold 10vw Arial;
    }
    
    .title_dados1{
        font: bold 15vw Arial;
    }
    
    .sub_title{
        font: bold 5vw Arial;
    }
    
    .paragraph_dado1{
        font: normal 4vw Arial;
    }
    
    .paragraph_dado2{
        margin-left: 0vw;
        width: auto;
        font: normal 3.4vw Arial;
    }

    /*Planos*/
    #planos{
        height: 410vw;
    }

    #back_blur{
        height: 80vw;
    }

    #intro_planos{
        position: relative;
        height: 35vw; 
        margin: 10vw auto;
    }

    #colors_blur{
        width: 100%;
        height:100%;;
    }

    .on{
        font: bold 4vw Arial;
    }

    .off{
        font: normal 4vw Arial;
    }

    /* Botão toggle */
    
    .toggleSwitch {
        width: 9vw;
        height: 4vw;
        border-radius: 5vw;
    }
    
    .toggleSwitch::after {
        margin-right: 3.5vw;
        height: 3vw;
        width: 3vw;
        border-radius: 4vw;
    }

    #sep_planos{
        margin-top: 55vw;
        position: absolute;
        height: auto;
        width: 100%;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:10vw;
    }

    .config_planos{
        border-radius: 3vw;
        width: 90%;
        display:flex;
        justify-content: space-between;
    }

    #configp1{
        height: 80VW;
    }

    #configp2{
        height: 80VW;
    }

    #configp3{
        height: 80vw;
    }

    #configp4{
        height: 80VW;
    }

    .img_plano_config{
        width: 40%;
        height: 100%;
    }
    .img_plano{
        height: 100%;
        width:auto;
        margin-left:-60vw;
    }
    #configp1 .img_plano{
        margin-left:-90vw;
    }

    .efeito_degrade_img{
        margin: 0vw 0 0 35vw;
        width: 1.5vw;
        height: 30vw;
    }
    #configp2 .textos_planos{
        height: auto;
    }
    #configp3 .textos_planos{
        height: auto;
    }

    .textos_planos{
        width: 46vw;
        height: auto;
        margin: 0vw;
        padding:4vw 3vw 0vw 0vw;
        text-align: left;
        justify-content: start;
        flex-direction: column;
        gap:2vw;
        display: flex;
    }
    .textos_planos .paragraph, .textos_planos .paragraph_italic{
        font-size:3.2vw;
    }
    .textos_planos .t2{
        font-size:5vw;
    }

    .list_descri_planos{
        margin: 0.5vw 0 0 4vw;
        height: auto;
        gap:2vw;
    }
    #configp2 .list_descri_planos{
        height: auto;
    }
    #configp3 .list_descri_planos{
        height: auto;
    }

    .sep_btn_comecar{
        position: absolute;
        margin-left:47vw;
        margin-top:61vw;
    }
    .btns_planos{
        position: absolute;
        margin: 9vw 0 0 5vw;
        font: bold 4.5vw Arial;
    }

    .img_btn_planos{
        width: 40vw;
        margin-left: 2.7vw;
    }

    /*Perguntas*/
    #perguntas{
        padding:10vw 5vw 0vw 5vw;
        gap:3vw;
    }

    #perguntas .title{
        padding-bottom:4vw;
    }

    .perguntas_card{
        border-radius:1.5vw;
    }

    .perguntas_card .card_fechado{
        height:8vw;
    }
    .perguntas_card .card_fechado::before{
        width:1vw; 
    }
    .perguntas_card .card_fechado span{
        font-size:3.2vw;
        padding-left:3vw;
        width:88%;
    }

    .perguntas_card .card_aberto{
        height:25vw;
    }
    .perguntas_card .card_aberto::before{
        width:1vw;  
    }
    .perguntas_card .card_aberto p{
        padding-left:3vw;
        width:90%;
        font-size:2.8vw;
    }

    .perguntas_card .card_seta{
        font-size:3vw;
        padding-left:2vw;
    }

    .fechado{
        margin-top:-25vw;
    }

    /*Footer*/
    #footer{
        padding-top:12vw;
    }

    .footer_container{
        padding:8vw 0vw 10vw 0vw;
        flex-wrap: wrap;
        justify-content: center;
        column-gap:15vw;
        row-gap:10vw;
    }
    .footer_container .logo2{
        width:20vw;
    }

    .footer_redes{
        gap:8vw;
    }
    .footer_redes .email, .footer_redes .redesSociais{
        gap:2vw;
        text-align:center;
    }
    .footer_redes .email span{
        font-size:4vw;
    }
    .footer_redes .redesSociais .conjuntoRedes{
        gap:2vw;
        font-size:4vw;
        margin:0vw auto;
    }

    .footer_forms{
        gap:4vw;
        width:80%;
    }
    .footer_forms textarea{
        max-width:100%;
        min-width:100%;
        max-height:15vw;
        min-height:5vw;
    }
    .footer_forms input, .footer_forms textarea{
        height:5vw;
        font-size:3.5vw;
        border-bottom:0.5vw solid var(--cor-padrao);
        padding:0.5vw;
    }
    .footer_forms button{
        border-radius:1.5vw;
        font-size:3.5vw;
        padding:1vw;
    }

    #footer .copyright{
        margin-top:-2vw;
        height:6vw;
        font-size:3vw;
        padding:2vw 0vw 0vw 0vw;
    }

    /*Elementos fundo*/
    .imgFundo1{
        height:180vw;
        width:50vw;
        top:75vw;
    }
    .imgFundo2{
        height:200vw;
        width:80vw;
        top:290vw;
    }
    .imgFundo3{
        height:170vw;
        width:60vw;
        top:420vw;
    }
    .imgFundo4{
        height:200vw;
        width:80vw;
        top:680vw;
    }
    .imgFundo5{
        height:250vw;
        width:90vw;
        top:1200vw;
    }
}