@media(max-width:900px){
    /*Menu*/
    header{
        height:18vw;
    }
    header .logo{
        width:7vw;
    }
    header nav{
        display:none;
    }

    #navMobile{
        display:flex;
        flex-direction: column;
        gap:12vw;
        padding:5vw 0vw 0vw 5vw;
        position:fixed;
        left:-60vw;
        z-index:999;
        height:100%;
        width:45%;
        background-image:linear-gradient(var(--cor-degrade3)10%, var(--cor-fundo3));
        transition:0.5s;
        box-shadow:2px 0px 8px;
    }
    #navMobile img{
        width:10vw;
        margin-bottom:2vw;
    }
    #navMobile a{
        font-family:arial;
        font-size:4vw;
        color:var(--cor-texto-padrao);
        font-weight: 700;
        text-decoration: none;
        width:90%;
    }
    #navMobile a:hover{
        scale:1.05;
    }
    #navMobile a::after{
        display:block;
        content:'';
        margin-top:1.5vw;
        width:40vw;
        height:0.1vw;
        background-color:var(--cor-padrao);
        opacity:0.2;
    }
    #btn_navMobile{
        position: absolute;
        z-index:999;
        right:0;
        display:flex;
        padding-right:5vw;
        font-size:8vw;
        color:var(--cor-padrao);
        cursor:pointer;
    }

    /*Botão para subir*/
    #upbtn{
        margin:5vw;
        width: 10vw;
        height: 10vw;
        border-radius: 5vw;
    }
    #upbtn i{
        font-size:5vw;
    }

    /*Layout*/
    #layout{
        align-items:center;
    }
    #layout hr{
        width:55vw;
        height: 2vw;
        margin-top:-1vw;
    }
    .layout_video{
        height:120vw;
    }
    .layout_container{
        display:none;
    }
    .layout_mobile{
        width:100%;
        position:absolute;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:1vw;
    }
    .layout_mobile img{
        width:25vw;
    }
    .layout_mobile h1{
        color:var(--cor-texto-padrao);
        font-size:8vw;
        font-family:arial;
        font-weight: 800;
        text-transform: uppercase;
        padding-top:3vw;
    }

    #layout p{
        font-size: 4vw;
    }

    /*Serviços*/
   
    #servicos{
        height: 70vw;
    }

    #servicos h3{
        position: absolute;
        margin: 10vw 0 0 11vw;
        width: 40vw;
        font-size: 5vw;
    }

    .sep-servicos{
        margin: 3vw 2.5vw 0 0;
        width:50vw;
        height: 36vw;
    }

    #servicos .swiper {
        margin-top:22vw;
        width: 78vw;
        height: 41.5vw;
      }

      #back-slides-servicos{
        margin: 32vw 0 0 8vw;
        width: 84vw;
        height: 34vw;
        border-radius: 2vw;
      }

      #servicos h2{
        font-size: 4.4vw;
        width: 30vw;
      }

      #p1-servicos{
        margin-top:1.5vw;
        width: 34vw;
        font-size: 2vw;
      }
      #p2-servicos{
        display: none;
      }

      #s1{
        margin: 0vw 0 0 30vw;
        width: 50vw;
      }
      
      #s2{
        margin: 0 32vw;
        width: 45vw;
      }

      
      #s3{
        margin: 5vw 32vw;
        width: 45vw;
      }
    
      #s4{
        margin: 5vw 33vw;
        width: 45vw;
      }
    
      #s5{
        margin: 5vw 34vw;
        width: 43vw;
      }
    
      #s6{
        margin: 2vw 33vw;
        width: 45vw;
      }

      .btn-servico-comecar{
        text-decoration: none;
        height: 5vw;
        width: 25vw;
        border-radius: 1.5vw;
        text-align: center;
        padding-top: 2vw;
        font: bold 2.2vw Arial;
        color: var(--cor-texto);
        cursor: pointer;
        transition: 1s;
      }

      #btn-servicos{
        position: absolute;
        margin: 14vw 1.5vw;
      }
    
    /*Projetos*/
    #projetos{
        margin-top: 5vw;
        background-size:200%;
        background-position-x: center;
        background-position-y:80vw;
        padding-top:5vw;
        display:flex;
        flex-direction: column;
        align-items:center;
        gap:1vw;
        padding-bottom:8vw;
    }
    .projetos_container{
        gap:2.5vw;
        width:80vw;
    }

    #projetos h2{
        font-size: 5vw;
    }

    #projetos p{
        font-size: 3vw;
    }

    #projetos .swiper {
        width: 98vw;
        height: 150vw;
    }
    #projetos .swiper-slide{
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        gap:5vw;
    }
    #projetos .swiper-button-prev::after, #projetos .swiper-button-next::after{
        font-size:7vw;
        font-weight:900;
    }

    .projetos_card{
        width:65vw;
        height:40vw;
        border-radius:3vw;
    }
    .projetos_card_container{
        overflow: hidden;
        display:flex;
        flex-direction: column;
        gap:1.5vw;
        width:90%;
        height:25vw;
        margin-top:15vw;
        padding-left:2vw;
    }
    .projetos_card_container h3{
        font-size:5vw;
    }
    .projetos_card_container .paragraph{
        font-size:3vw;
    }

    /*Divulgacao*/
    .divulgacao_container{
        margin-top:8vw;
        width:80%;
        gap:10vw;
        border-radius:3vw;
        padding:10vw 0vw;
        overflow: hidden;
    }
    .divulgacao_conteudo{
        gap:6vw;
    }
    .divulgacao_container .divulgacao_conteudo p{
        width:60vw;
        font-size: 3.3vw;
    }
    .divulgacao_container .divulgacao_conteudo button{
        width:100%;
        padding:2vw 0vw;
        border-radius:1.5vw;
        font-size:3.5vw;
    }
    .divulgacao_container .divulgacao_conteudo a{
        width:50vw;
    }

    .divulgacao_container .elemento_Fundo1{
        margin: -10vw 0 0 10vw;
        width:40vw;
        height:50vw;
        border-radius:0vw;
        left:0;
    }
    .divulgacao_container .elemento_Fundo1 img{
        right:40vw;
        bottom:55vw;
        width:70vw;
    }

    .divulgacao_container .elemento_Fundo2{
        width:45vw;
        height:61vw;
        margin: 0 10vw;
        border-radius:0vw;
        right:0;
    }
    .divulgacao_container .elemento_Fundo2 img{
        bottom:-1vw;
        width:100vw;
    }

    /*Funcionalidade*/
    #funcionalidade{
        margin-top:8vw;
        height: auto;
    }
    
    #container_img{
        height: 100vw;
        overflow: hidden;
    }

    #img_corp{
        width: auto;
        height:100%;
    }
    
    #degrade{
        height: 100vw;
        background-image: linear-gradient(to top, var(--cor-fundo), #1e1e1ef5 50%, #1e1e1eaf);
    }
    
    #text_funcionalidade{
        width: 75%;
        height: auto;
        margin: 12vw 0 0 8vw;  
        gap:2vw; 
    }
    #text_funcionalidade .paragraph{
        font: normal 3vw Arial
    }
    #text_funcionalidade ul li{
        list-style: none;
        font: italic 2.8vw Arial;
        width: 60vw;

    }
    #text_funcionalidade li:before {
        width:1.5vw;
        height:1.5vw;
        margin-top:1vw;
      }
    
    #list_funcionalidades{
        margin-left: 5vw;
    }
    #list_funcionalidades li{
        margin-top: 2vw;
    }
    
    #ranking{
        padding-top: 18vw;
        margin: 0 auto;
        width:90vw;
        height: auto;
        align-items:center;
    }
    
    .dados{
        margin: 8vw 0 14vw 0;
        padding-top:20vw;
        width: 40vw;
        height: auto;
        gap:1.5vw;
    }
    .dadosCentro{
        padding-top:0vw;
        width: 60vw;
        position: absolute;
        margin-bottom:80vw;
        margin-left:15vw;
    }
    
    .title_dados2{
        margin-top: 0vw;
        font: bold 8vw Arial;
    }
    
    .title_dados1{
        font: bold 15vw Arial;
    }
    
    .sub_title{
        font: bold 5vw Arial;
    }
    
    .paragraph_dado1{
        font: normal 3.5vw Arial;
    }
    
    .paragraph_dado2{
        margin-left: 0vw;
        width: auto;
        font: normal 2.8vw Arial;
    }

    /*Planos*/
    #planos{
        height: 330vw;
    }

    #planos .paragraph{
        font: normal 3vw Arial;
    }

    .paragraph-x1{
        font: normal 3vw Arial;
    }

    a{
        display: flex;
    }

    #planos .paragraph{
        margin-top: 2vw;
    }


    #planos .paragraph-x1{
        margin-top: 1vw;
    }

    #back_blur{
        height: 80vw;
    }

    #intro_planos{
        position: relative;
        height: 15vw; 
        margin: 10vw auto;
    }

    #colors_blur{
        width: 100%;
        height:100%;;
    }

    #sep_planos{
        margin-top: 28vw;
        position: absolute;
        height: auto;
        width: 100%;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:5vw;
    }


    .config_planos{
        border-radius: 3vw;
        width: 82%;
        display:flex;
        justify-content: space-between;
    }

    #configp1{
        height: 55VW;
    }

    #i1img{
        display: flex;
    }
    #i1img2{
        display: none;
    }

    #configp2{
        height: 69VW;
    }

    #i2img{
        display: none;
    }


    #i2img2{
        display: flex;
    }

    #configp3{
        height: 72vw;
    }

    #i3img2{
        display: flex;
    }

    #i3img{
        display: none;
    }


    #configp4{
        height: 70VW;
    }

    #i4img2{
        display: flex;
    }

    #i4img{
        display: none;
    }
    
    

    .img_plano_config{
        width: 33vw;
        height: 100%;
    }
    .img_plano{
        height: 100%;
        width:auto;
    }

    .efeito_degrade_img{
        margin: 0vw 0 0 32vw;
        width: 1.5vw;
        height: 30vw;
        background-image: linear-gradient(to top, var(--cor-degrade2), var(--cor-degrade1));
    }
    #configp2 .textos_planos{
        height: auto;
    }
    #configp3 .textos_planos{
        height: auto;
    }

    .textos_planos{
        width: 40vw;
        height: auto;
        margin: 0 0 0 4VW;
        padding:4vw 3vw 0vw 0vw;
        text-align: left;
        justify-content: start;
        flex-direction: column;
        gap:2vw;
        display: flex;
    }
    .textos_planos .paragraph, .textos_planos .paragraph_italic{
        font-size:2.8vw;
    }
    .textos_planos .t2{
        font-size:4vw;
    }

    .list_descri_planos{
        margin: 0.5vw 0 0 4vw;
        height: auto;
        gap:2vw;
    }
    #configp2 .list_descri_planos{
        height: auto;
    }
    #configp3 .list_descri_planos{
        height: auto;
    }

    .sep_btn_comecar{
        position: absolute;
        margin-left:47vw;
        margin-top:66.5vw;
    }
    .btns_planos{
        display: none;
    }

    .img_btn_planos{
        display: none;
    }

    /*Perguntas*/
    #perguntas{
        padding:10vw 5vw 0vw 5vw;
        gap:3vw;
    }

    #perguntas .title{
        padding-bottom:6vw;
    }

    .perguntas_card{
        border-radius:1.5vw;
    }

    .perguntas_card .card_fechado{
        height:9vw;
    }
    .perguntas_card .card_fechado::before{
        width:1vw; 
    }
    .perguntas_card .card_fechado span{
        font-size:3vw;
        padding-left:3vw;
        width:88%;
    }

    .perguntas_card .card_aberto{
        height:25vw;
    }
    .perguntas_card .card_aberto::before{
        width:1vw;  
    }
    .perguntas_card .card_aberto p{
        padding-left:3vw;
        width:90%;
        font-size:2.8vw;
    }

    .perguntas_card .card_seta{
        font-size:3vw;
        padding-left:2vw;
    }

    .fechado{
        margin-top:-25vw;
    }

    /*Footer*/
    #footer{
        padding-top:12vw;
    }

    .footer_container{
        padding:8vw 0vw 10vw 0vw;
        flex-wrap: wrap;
        justify-content: center;
        column-gap:15vw;
        row-gap:10vw;
    }
    .footer_container .logo2{
        width:20vw;
    }

    .footer_redes{
        gap:8vw;
    }
    .footer_redes .email, .footer_redes .redesSociais{
        gap:2vw;
        text-align:center;
    }
    .footer_redes .email span{
        font-size:4vw;
    }
    .footer_redes .redesSociais .conjuntoRedes{
        gap:2vw;
        font-size:4vw;
        margin:0vw auto;
    }

    .footer_forms{
        gap:4vw;
        width:80%;
    }
    .footer_forms textarea{
        max-width:100%;
        min-width:100%;
        max-height:15vw;
        min-height:5vw;
    }
    .footer_forms input, .footer_forms textarea{
        height:5vw;
        font-size:3.5vw;
        border-bottom:0.5vw solid var(--cor-padrao);
        padding:0.5vw;
    }
    .footer_forms button{
        border-radius:1.5vw;
        font-size:3.5vw;
        padding:1vw;
    }

    #footer .copyright{
        margin-top:-2vw;
        height:6vw;
        font-size:3vw;
        padding:2vw 0vw 0vw 0vw;
    }

    /*Elementos fundo*/
    .imgFundo1{
        height:180vw;
        width:50vw;
        top:75vw;
    }
    .imgFundo2{
        height:200vw;
        width:80vw;
        top:290vw;
    }
    .imgFundo3{
        height:170vw;
        width:60vw;
        top:420vw;
    }
    .imgFundo4{
        height:200vw;
        width:80vw;
        top:680vw;
    }
    .imgFundo5{
        height:250vw;
        width:90vw;
        top:1200vw;
        display: none;
    }
}