/*Menu*/
header{
    position:absolute;
    width:100%;
    display:flex;
    align-items:center;
    justify-content: space-between;
    height:7vw;
}
header .logo{
    width:2vw;
    padding-left:5vw;
}
header nav{
    display:flex;
    gap:3vw;
    padding-right:5vw;
}
header nav a{
    text-decoration: none;
    color:#fff;
    font-family:arial;
    font-size:1vw;
}

/*Botão para subir*/
#upbtn{
    transition: 0.5s;
    position: fixed;
    margin: 41vw 90vw;
    width: 5vw;
    height: 3.8vw;
    background-color: var(--cor-padrao);
    border-radius: 0.8vw;
    box-shadow: 0vw 0.7vw 1vw var(--cor-fundo3);
    cursor: pointer;
    transition: 0.5s;
}
#upbtn:hover{
    transition: 1s;
    margin:40vw 90vw;
}

/*Layout*/

/*Serviços*/


/*Projetos*/

/*Divulgacao*/

/*Funcionalidade*/

#funcionalidade{
    width: 100%;
    height: 51vw;
}

#container_funcionalidades{
    width: 100%;
    display: flex;
}

#container_img{
    width: 100%;
    height: 25vw;
    overflow: hidden;
}

#img_corp{
    width: 100%;
}

#degrade{
    position: absolute;
    width: 100%;
    height: 25vw;
    background-image: linear-gradient(to right, var(--cor-fundo), #1e1e1ef5, #1e1e1e00);
}

#text_funcionalidade{
    z-index: 12;
    position: absolute;
    width: 25vw;
    height: 12.5vw;
    margin: 6.5vw 0 0 14vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul{
    margin-left: 1vw;
    height: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#ranking{
    padding-top: 3vw;
    margin: 0 auto;
    width: 65vw;
    height: 20vw;
    background-color: #57575700;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dados{
    width: 20vw;
    text-align: center;
    height: 18vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title_dados2{
    margin-top: 5vw;
    font: bold 4vw Arial;
    color: var(--cor-padrao);
}

.title_dados1{
    font: bold 8vw Arial;
    color: var(--cor-padrao);
}

.sub_title{
    font: bold 1.7vw Arial;
    color: var(--cor-texto);
}

.paragraph_dado1{
    font: normal 1.1vw Arial;
    color:var(--cor-texto);
}

.paragraph_dado2{
    margin-left: 2.5vw;
    width: 15vw;
    font: normal 0.9vw Arial;
    color:var(--cor-texto);
}





/*Planos*/

/*Perguntas*/

/*Footer*/